.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.swiper-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.title {
  display: flex;
  width: 30%;
  margin: 3rem auto;
  border-bottom: thin solid $first-color;
  text-align: center;
  color: $title-color;
  h2 {
    width: 100%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  display: block;
  top: 65%;
  cursor: pointer;
  background: none;
  color: $text-color;
  opacity: 10%;
}

.swiper-button-next {
  right: 5vw;
}
.swiper-button-prev {
  left: 5vw;
}

@media screen and (min-width: 1024px) {
  .swiper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    max-width: 1200px;
    margin-bottom: 50px;
  }

  .swiper-products {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 20px 20px 20px;
    overflow: hidden;
  }
  .swiper-button-next {
    right: 3vw;
  }
  .swiper-button-prev {
    left: 3vw;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}
