.header {
  width: 100%;
  .content-header {
    background-color: $second-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $header-height;
    width: 100%;
    padding: 0 1rem;
    z-index: 999;

    .logotype {
      flex: 1 1 33%;
      padding-left: 10px;
      a {
        color: $white-color;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-color: $second-color;
    .content-header {
      background-color: transparent;
      justify-content: flex-start;
      align-items: center;
      position: static;
      top: 0;
      padding: 1rem 1rem;
      .logotype {
        margin-left: 0;
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}
